/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Easy Bank */
body {
    font-family: 'Public Sans', sans-serif;
    image-rendering: pixelated;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
    background-color: #FFF;
}
header .menu, header button {
    display: none;
}
button.req-invite {
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    border-radius: 24px;
    border-color: transparent;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(220, 16%, 96%);
    font-size: 14px;
    font-weight: 600;
}
nav.menu-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    background-color: gray;
    padding: 5vh 15vw;
    right: 10%;
}
nav.menu-mobile .item {
    padding: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
}
section.banner {
    display: flex;
    flex-direction: column;
}
section.banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
section.banner .first {
    width: 100%;
    height: 60vh;
    background: url(images/bg-intro-mobile.svg) center no-repeat;
    background-size: cover;
    background-position-y: 45%;
    overflow: hidden;
    padding: 10px 0;
}
section.banner .first img {
    width: 90%;
    position: relative;
    bottom: 17%;
}
section.banner .second {
    padding-bottom: 90px;
}
section.banner h1 {
    font-size: 35px;
    text-align: center;
    line-height: 32px;
    padding-bottom: 10px;
    color: hsl(233, 26%, 24%);
}
section.banner p {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    max-width: 350px;
    color: hsl(233, 8%, 62%);
    padding-top: 10px;
    padding-bottom: 30px;
}
section.banner button {
    display: flex;
}
section.about {
    background-color: hsl(220, 16%, 96%);
    padding-top: 60px;
    padding-bottom: 20px;
}
section.about h2 {
    font-size: 30px;
    padding-bottom: 5px;
    color: hsl(233, 26%, 24%);
}
section.about p {
    font-size: 15px;
    line-height: 28px;
    max-width: 350px;
    color: hsl(233, 8%, 62%);
    padding-top: 10px;
    padding-bottom: 30px;
}
section.about .whyus {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section.about article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 345px;
}
section.about article img {
    padding: 20px;
}
section.about article h3 {
    font-size: 20px;
    padding: 5px;
    color: hsl(233, 26%, 24%);
}
section.blog {
    background-color: hsl(0, 0%, 98%);
    padding-top: 100px;
    padding-bottom: 90px;
}
section.blog article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 345px;
    background-color: #FFF;
    padding-bottom: 30px;
    margin-top: 25px;
}
section.blog article img {
    width: 100%;
    height: 200px;
    padding-bottom: 25px;
}
section.blog article .container {
    align-items: flex-start;
    padding: 0 25px;
}
section.blog h2 {
    font-size: 30px;
    padding-bottom: 5px;
    color: hsl(233, 26%, 24%);
}
section.blog article h4 {
    color: hsl(233, 8%, 62%);
    font-size: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
}
section.blog article h3 {
    color: hsl(233, 26%, 24%);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    max-width: 280px;
}
section.blog article p {
    color: hsl(233, 8%, 62%);
    font-size: 13px;
    line-height: 18px;
    max-width: 280px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
    padding-top: 40px;
    padding-bottom: 40px;
}
footer .first {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}
footer .third h2 {
    padding-top: 30px;
}
nav.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav.menu-footer a {
    color: hsl(220, 16%, 85%);
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
}
footer h2 {
    color: hsl(233, 8%, 62%);
    font-size: 15px;
}
footer .social {
    padding: 25px;
}
footer .social a {
    padding: 0 5px;
}
footer .social a img {
    width: 25px;
}